<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <title>Radius Chat</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'base/css/app.css' %}">
</head>
<body class="w-full h-full dark:bg-gray-800">

    {% include 'navbar.html' %}

    <main class="sm:ml-14 dark:bg-gray-800 relative h-screen">
        {% block content %}
    
        {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
</body>
</html>