{% extends 'main.html' %}
{% load static %}
{% block content %}

{% block room_list %}
<aside id="room-sidebar" class="fixed top-0 p-0 left-0 ml-14 z-40 w-56 h-screen transition-transform -translate-x-full sm:translate-x-0 shadow-lg" aria-label="Sidebar">
  <div class="h-full px-4 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 align-middle">
     <!-- <a href="https://flowbite.com/" class="flex items-center justify-center mb-5">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 sm:h-7" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Radius Chat</span>
     </a> -->
     
    <form>   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Rooms</label>
      <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Rooms" required>
      </div>
    </form>

     <ul class="max-w-md divide-y mt-10 divide-gray-200 dark:divide-gray-700">
        {% for room in rooms %}
        <li class="py-3 sm:pb-4">
          <a href="{% url 'room' room.id %}">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full" src="{% static 'images/naina.jpg' %}" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    {{room.name}}
                  </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  2
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
     </ul>
  </div>
</aside>
{% endblock %}

<div class="sm:ml-56 relative h-screen" >
  {% block room %}
  {% endblock %}
</div>

{% endblock content %}